@model IEnumerable<Laboratorio1AdmonTIC.ViewModels.CompraViewModel>

@{
    ViewData["Title"] = "Compras";
}

<h1>Compras</h1>

<div class="d-flex justify-content-between">
    <a type="button" class="btn btn-inverse-success btn-fw" asp-action="Create">Nuevo Registro</a>
    <a type="button" class="btn btn-inverse-info btn-fw btnAnulados">Compras Anuladas</a>
</div>
<br />

<!-- Modal Anulados -->
<div class="modal fade" id="anuladosModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div style="background-color: #1c1e2f;" class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Compras Anuladas</h1>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body" id="anuladosContenido">
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Detalles -->
<div class="modal fade" id="detalleModal" tabindex="-1" role="dialog" aria-labelledby="detalleLabel" aria-hidden="true">
    <div class="modal-dialog custom-width modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Detalles de Compra</h1>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body" id="detalleContenido">
                <div class="text-center py-5">
                    <div class="spinner-border" role="status"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-body">
        <h4 class="card-title">Gestión de Compras</h4>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="order-listing" class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Proveedor)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Empleado)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FechaCompra)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Total)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                       @*  <a type="button" class="btn btn-inverse-warning me-2 py-2 px-3" asp-action="Edit" asp-route-id="@item.CompraId" data-toggle="tooltip" title="Editar">
                                            <i class="mdi mdi-pencil"></i>
                                            editar
                                        </a> *@

                                        @* <a type="button" class="btn btn-inverse-info me-2 py-2 px-3 btn-detalle" asp-action="Details" asp-route-id="@item.CompraId" data-toggle="tooltip" title="Detalles">
                                            <i class="mdi mdi-note-text"></i>
                                            Detalles 
                                        </a> *@
                                        <a href="javascript:void(0);" type="button" class="btn btn-inverse-info me-2 py-2 px-3 btn-detalle" data-id="@item.CompraId" data-toggle="tooltip" title="Detalles">
                                            <i class="mdi mdi-note-text"></i> @* Detalles *@
                                        </a>

                                        <a href="@Url.Action("Delete", new { id = item.CompraId })"
                                           class="btn btn-inverse-danger me-2 py-2 px-3"
                                           onclick="confirmarEliminacion(event, '@Url.Action("Delete", new { id = item.CompraId })')" data-toggle="tooltip" title="Anular Compra">
                                            <i class="mdi mdi-delete"></i>
                                            @* Eliminar *@
                                        </a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Proveedor)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Empleado)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FechaCompra)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Total)
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <script>
        // Código JavaScript usando delegación de eventos
        $(document).on('click', '.btn-detalle', function () {
            var id = $(this).data('id');

            if (!id) {
                alert("ID no válido");
                return;
            }

            $('#detalleContenido').html('<div class="text-center py-5"><div class="spinner-border text-info" role="status"></div></div>');
            $('#detalleModal').modal('show');

            $.get('/Compras/DetailsPartial/' + id, function (data) {
                $('#detalleContenido').html(data);
            }).fail(function () {
                $('#detalleContenido').html('<p class="text-danger">Error al cargar detalles.</p>');
            });
        });

    </script>
    <script>
        $(document).ready(function () {
            $('.btnAnulados').on('click', function () {
               
                $('#anuladosContenido').load('/Compras/Anulados', function (response, status, xhr) {
                    if (status === "error") {
                        $('#anuladosContenido').html('<p>No hay registros anulados.</p>');
                    }
                    $('#tablaAnulados').DataTable({
                        language: {
                            url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json'
                        }
                    });
                });
                $('#anuladosModal').modal('show');
            });
        });
    </script>

}