@* @model IEnumerable<Laboratorio1AdmonTIC.Models.Productos> *@
@model IEnumerable<Laboratorio1AdmonTIC.ViewModels.ProductoViewModel>


@{
    ViewData["Title"] = "Productos";
}

<h1>Productos</h1>

<p>
    <a type="button" class="btn btn-inverse-success btn-fw" asp-action="Create">Nuevo Registro</a>
</p>
<!-- Modal Detalles -->
<div class="modal fade" id="detalleModal" tabindex="-1" role="dialog" aria-labelledby="detalleLabel" aria-hidden="true">
    <div class="modal-dialog custom-width modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Detalles del Producto</h1>
            </div>
            <div class="modal-body" id="detalleContenido">
                <div class="text-center py-5">
                    <div class="spinner-border" role="status"></div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="card">
    <div class="card-body">
        <h4 class="card-title">Gestión de Productos</h4>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="order-listing" class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    @* @Html.DisplayNameFor(model => model.CategoriaId) *@
                                    Categoría
                                </th>
                                <th>
                                    @* @Html.DisplayNameFor(model => model.ProveedorId) *@
                                    Proveedor
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Descripcion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PrecioCompra)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PrecioVenta)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Stock)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.StockMinimo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UnidadMedida)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <a type="button" class="btn btn-inverse-warning me-2 py-2 px-3" asp-action="Edit" asp-route-id="@item.Id" data-toggle="tooltip" title="Editar">
                                            <i class="mdi mdi-pencil"></i>
                                            @* Editar *@
                                        </a>

                                        @* <a type="button" class="btn btn-inverse-info me-2 py-2 px-3" asp-action="Details" asp-route-id="@item.Id">
                                    <i class="mdi mdi-note-text"></i>
                                    Detalles
                                    </a> *@
                                        <a href="javascript:void(0);" type="button" class="btn btn-inverse-info me-2 py-2 px-3 btn-detalle" data-id="@item.Id" data-toggle="tooltip" title="Detalles">
                                            <i class="mdi mdi-note-text"></i> @* Detalles *@
                                        </a>



                                        <a href="@Url.Action("Delete", new { id = item.Id })"
                                           class="btn btn-inverse-danger me-2 py-2 px-3"
                                           onclick="confirmarEliminacion(event, '@Url.Action("Delete", new { id = item.Id })')" data-toggle="tooltip" title="Eliminar">
                                            <i class="mdi mdi-delete"></i>
                                            @* Eliminar *@
                                        </a>
                                    </td>
                                    <td>
                                        @* @Html.DisplayFor(modelItem => item.CategoriasProducto?.Nombre) *@
                                        @Html.DisplayFor(modelItem => @item.Categoria)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => @item.Proveedor)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PrecioCompra)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PrecioVenta)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Stock)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StockMinimo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UnidadMedida)
                                    </td>
                                    
                                </tr>
                            }
                        </tbody>
                    </table>     
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    <script>
        // Código JavaScript usando delegación de eventos
        $(document).on('click', '.btn-detalle', function () {
            var id = $(this).data('id');

            if (!id) {
                alert("ID no válido");
                return;
            }

            $('#detalleContenido').html('<div class="text-center py-5"><div class="spinner-border text-info" role="status"></div></div>');
            $('#detalleModal').modal('show');

            $.get('/Productos/DetailsPartial/' + id, function (data) {
                $('#detalleContenido').html(data);
            }).fail(function () {
                $('#detalleContenido').html('<p class="text-danger">Error al cargar detalles.</p>');
            });
        });

    </script>
}

