@model IEnumerable<Laboratorio1AdmonTIC.Models.Municipio>

@{
    ViewData["Title"] = "Municipios";
}

<h1>Municipios</h1>

<p>
    <a type="button" class="btn btn-inverse-success btn-fw" asp-action="Create">Nuevo Registro</a>
</p>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Gestión de Municipios</h4>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="order-listing" class="table ">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Nombre)</th>
                                <th>@Html.DisplayNameFor(model => model.Codigo)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Codigo)</td>
                                    <td>
                                        <a type="button" class="btn btn-inverse-warning me-2 py-2 px-3" asp-action="Edit" asp-route-id="@item.MunicipioId">
                                            <i class="mdi mdi-pencil"></i>
                                            Editar
                                        </a>

                                        <a type="button" class="btn btn-inverse-info me-2 py-2 px-3" asp-action="Details" asp-route-id="@item.MunicipioId">
                                            <i class="mdi mdi-note-text"></i>
                                            Detalles
                                        </a>

                                        <a href="@Url.Action("Delete", new { id = item.MunicipioId })"
                                           class="btn btn-inverse-danger me-2 py-2 px-3"
                                           onclick="confirmarEliminacion(event, '@Url.Action("Delete", new { id = item.MunicipioId })')">
                                            <i class="mdi mdi-note-text"></i>
                                            Eliminar
                                        </a>


                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



