@model IEnumerable<Laboratorio1AdmonTIC.Models.Clientes>

@{
    ViewData["Title"] = "Clientes";
}

<h1>Clientes</h1>

<p>
    <a type="button" class="btn btn-inverse-success btn-fw" asp-action="Create">Nuevo Registro</a>
</p>

<!-- Modal Detalles -->
<div class="modal fade" id="detalleModal" tabindex="-1" role="dialog" aria-labelledby="detalleLabel" aria-hidden="true">
    <div class="modal-dialog custom-width modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Detalles del Producto</h1>
            </div>
            <div class="modal-body" id="detalleContenido">
                <div class="text-center py-5">
                    <div class="spinner-border" role="status"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Gestión de Clientes</h4>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="order-listing" class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nombres)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Apellidos)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Telefono)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Direccion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CUI)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NIT)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <a type="button" class="btn btn-inverse-warning me-2 py-2 px-3" asp-action="Edit" asp-route-id="@item.ClienteId" data-id="@item.ClienteId" data-toggle="tooltip" title="Editar">
                                            <i class="mdi mdi-pencil"></i>
                                            @* Editar *@
                                        </a>

                                        <a type="button" class="btn btn-inverse-info me-2 py-2 px-3 btn-detalle" data-id="@item.ClienteId" data-toggle="tooltip" title="Detalles">
                                            <i class="mdi mdi-note-text"></i>
                                            @* Detalles *@
                                        </a>

                                        <a href="@Url.Action("Delete", new { id = item.ClienteId })"
                                           class="btn btn-inverse-danger me-2 py-2 px-3"
                                           onclick="confirmarEliminacion(event, '@Url.Action("Delete", new { id = item.ClienteId })')" data-id="@item.ClienteId" data-toggle="tooltip" title="Eliminar">
                                            <i class="mdi mdi-delete"></i>
                                            @* Eliminar *@
                                        </a>

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nombres)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Apellidos)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Telefono)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Direccion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CUI)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NIT)
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    <script>
        // Código JavaScript usando delegación de eventos
        $(document).on('click', '.btn-detalle', function () {
            var id = $(this).data('id');

            if (!id) {
                alert("ID no válido");
                return;
            }

            $('#detalleContenido').html('<div class="text-center py-5"><div class="spinner-border text-info" role="status"></div></div>');
            $('#detalleModal').modal('show');

            $.get('/Clientes/Details/' + id, function (data) {
                $('#detalleContenido').html(data);
            }).fail(function () {
                $('#detalleContenido').html('<p class="text-danger">Error al cargar detalles.</p>');
            });
        });

    </script>
}