@model Laboratorio1AdmonTIC.ViewModels.MovimientoInventarioViewModel

@{
    ViewData["Title"] = "Details";
}


<div class="card">
    <div class="card-body">
        <h4 class="card-title">Inventario</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MovimientoId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MovimientoId)
            </dd>
            <dt class="col-sm-2">
                Producto
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ProductoNombre)
            </dd>
            <dt class="col-sm-2">
                Tipo de Movimiento
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TipoMovimiento)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Empleado)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Empleado)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cantidad)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Cantidad)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FechaCompra)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FechaCompra)
            </dd>
        </dl>
        <div>
            <a class="btn btn-inverse-info btn-fw me-2" asp-action="Edit" asp-route-id="@Model?.MovimientoId">Editar</a>
            <a class="btn btn-inverse-secondary btn-fw" asp-action="Index">Regresar</a>
        </div>
    </div>
</div>
